#navbar{
    padding: 0 2px;
}
.navbar-ul a{
    padding: 0;
    margin: 0;
    display: inline;
}
.navbar-ul{
   margin: 0;
   padding: 0;
}
#container{
    padding: 0.3rem 2rem;
    font-size: 0.7rem;
}
.row{
    flex-direction: column;
}
td, th{
    padding: 4px 10px;
    font-size: 1rem;
}